### VS Code ###
.vscode/

### Carpetas de Microservicios ###
API_gateway/

MS_cliente/

MS_envio/

MS_inventario/

MS_producto/

MS_resporte/

MS_soporte-cliente/

MS_usuario/

MS_vendedor/

MS_venta/

